body {
    margin: 0;
    line-height: 1.6;
    color: #333;
}

p {
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
    padding: 10px 0 -10px 10px;
    font-size: 14px;
}

h1 {
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
    padding: 10px 0 -10px 10px;
}

.p__error {
    padding-top: 20px;
    font-size: 24px;
}

a {
    font-family: 'Gill Sans', sans-serif;
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    padding: 180px 20px 20px 370px;
}

.logo {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Centuma', sans-serif;
    color: black;
    padding: 180px 20px 0 220px;
}

.logo:first-letter {
    color: red;
}


/* Search */
.search__box {
    position: relative;
    display: flex;
    background: rgb(255, 202, 58);
    border-radius: 10px;
    width: 50%;
    padding: 5px;
}

.search__btn {
    margin-left: 5px;
    color: black;
    font-family: 'Gill Sans', sans-serif;
    float: right;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    background: rgb(255, 202, 58);
    justify-content: center;
    align-items: center;
    border-style: none;
    text-decoration: none;
}

.search__btn:hover {
    background: #f5c400;
}


.search__txt {
    border: none;
    border-radius: 10px;
    outline: none;
    float: left;
    padding-left: 10px;
    color: black;
    font-size: 14px;
    transition: 0.4s;
    line-height: 35px;
    width: 78%;
}


/* List */
.lists {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    margin-left: -50px;
    color: black;
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;
}

li {
    margin: 20px 20px 20px 10px;
}

.lists__img {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 2px;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;
    background-image: url("images/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* Footer */
.footer {
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    padding: 180px 20px 20px 0;
    margin-top: auto;
    color: gray;
}

.footer__text {
    color: gray;
    padding: 0 20px 20px 0;
}