body {
    margin: 0;
    line-height: 1.6;
    color: #333;
}

p {
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
    padding: 10px 0 -10px 10px;
    font-size: 14px;
}

.p__error {
    padding-top: 20px;
    font-size: 24px;
}

a {
    font-family: 'Gill Sans', sans-serif;
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    padding: 180px 20px 20px 370px;
}

.logo {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Centuma', sans-serif;
    color: black;
    padding: 180px 20px 0 220px;
}

.logo:first-letter {
    color: red;
}


/* Search */
.search__box {
    position: relative;
    display: flex;
    background: rgb(255, 202, 58);
    border-radius: 10px;
    width: 50%;
    padding: 5px;
}

.search__btn:hover {
    background: rgb(244, 196, 0);
}

.search__btn {
    color: black;
    font-family: 'Gill Sans', sans-serif;
    float: right;
    width: 20%;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.search__txt {
    border: none;
    border-radius: 10px;
    outline: none;
    float: left;
    padding-left: 10px;
    color: black;
    font-size: 14px;
    transition: 0.4s;
    line-height: 35px;
    width: 78%;
}


/* Services */
.services {
    padding-top: 30px;
    color: black;
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    padding: 0 35px 20px 50px;
    position: relative;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;
}


/* Footer */
.footer {
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    padding: 180px 20px 20px 0;
    margin-top: auto;
    margin-left: 220px;
    color: gray;
}

.footer__a {
    color: gray;
    padding: 0 20px 20px 0;
}